.navigation {
  margin: 26px 0;
  display: flex;
  justify-content: center;

  a {
    margin: 10px;
    padding: 10px;
    position: relative;
  }

  .nav-active {
    width: 100px;
    height: 60px;
    align-items: center;
  }
}

p {
  justify-content: center;
}
